@import "tailwindcss/base";
@import "tailwindcss/components";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  color: #444;
}
input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  /* padding: 100px; */
}
label {
  display: block;
  margin: 10px 0 10px;
  font-size: 1.3rem;
}
select {
  display: block;
  border: 1px solid black;
  width: 10rem;
  padding: 0.4rem 1rem;
  min-width: fit-content;
}

.result {
  display: flex;
  align-items: center;
  width: 50rem;
  justify-content: space-between;
}
.result input {
  width: 4rem;
  padding: 8px 0;
  text-align: center;
}
.result .grade {
  width: 10rem;
}
.result div {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-self: end;
}
.result section {
  display: flex;
}

@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-4xl font-medium my-4;
  }

  h2 {
    @apply text-3xl font-medium;
  }
  button {
    @apply border-0 block font-bold text-sm mt-8 py-2 px-4 uppercase
        rounded-full
        bg-[#FEE996]
        tracking-widest;
  }

  form {
    @apply bg-gray-50 my-5 mb-8 mx-auto p-8
  rounded-lg shadow-lg;
  }
  .link {
    @apply border border-blue-200 max-w-max py-2 px-4 my-4 cursor-pointer;
  }
  .payment div{
    @apply flex font-medium
  }
  .payment div span:nth-child(1){
    @apply w-40 py-2 pl-3 mr-3 bg-blue-200 
  }
}
