@import "tailwindcss/base";
@import "tailwindcss/components";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");



select {
  display: block;
  border: 1px solid black;
  width: 10rem;
  padding: 0.4rem 1rem;
  min-width: fit-content;
}

.result {
  display: flex;
  align-items: center;
  width: 50rem;
  justify-content: space-between;
}
.result input {
  width: 4rem;
  padding: 8px 0;
  text-align: center;
}
.result .grade {
  width: 10rem;
}
.result div {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-self: end;
}
.result section {
  display: flex;
}

@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-4xl font-medium my-4;
  }

  h2 {
    @apply text-3xl font-medium;
  }
  h3 {
    @apply text-lg font-medium;
  }
  button {
    @apply border-0 block font-semibold text-sm mt-8 py-2 px-4 text-white bg-primary tracking-widest disabled:bg-gray-200 
  }
  input{
    @apply border  px-3 py-2 w-80 focus:outline-none focus:border-primary focus:ring-1 ;
  }
  label{
    @apply block text-xl py-2 font-semibold
  }

  form {
    @apply  my-5 mx-2 p-8
  rounded-lg shadow-xl;
  }
  table{
    @apply border-collapse min-w-full  py-10 rounded-lg shadow-xl
  }
  th{
    @apply px-8 py-4 
  }
  thead tr{
    @apply hover:bg-white
  }
  td{
    @apply px-8 py-4 
  }
  tr{
    @apply hover:bg-gray-200 cursor-pointer
  }
  .link {
    @apply border border-blue-200 max-w-max py-2 px-4 my-4 cursor-pointer;
  }
  .payment div{
    @apply flex font-medium
  }
  .payment div span:nth-child(1){
    @apply w-40 py-2 pl-3 mr-3 bg-blue-200 
  }
}
